torch==2.7
torchaudio==2.7
torchdiffeq==0.2.5
transformers==4.47.1
cn2an==0.5.23
einops==0.8.1
huggingface-hub==0.31.1
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
librosa>=0.9.2
muq==0.1.0
numpy>=1.26.0
onnx==1.17.0
onnxruntime
pykakasi==2.3.0
pyopenjtalk==0.4.1
pyparsing==3.2.3
pypinyin==0.54.0
PyYAML==6.0.2
safetensors==0.5.3
scipy>=1.10.0
pedalboard
unidecode
phonemizer
py3langid
